@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" class="text-@Color">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h3>@Color</h3>

@code {

    private int _currentCount = 0;

    private string Color => _currentCount % 2 == 0 ? "primary" : "danger";

    private void IncrementCount()
    {
        _currentCount += 1;
    }
}
