@using EzioLearning.Wasm.Components.Error
@using EzioLearning.Wasm.Components.Auth
@using EzioLearning.Share.Validators.Auth
@using EzioLearning.Wasm.Utils.Common
@layout EmptyLayout
@attribute [Route(RouteConstants.ConfirmPassword)]
@inject IStringLocalizer<ConfirmPasswordDtoValidator> Localizer

@if (string.IsNullOrEmpty(VerifyCode))
{
    <NotFound></NotFound>
}
else
{
    <LoginSlide></LoginSlide>

    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="w-100">
                    <div class="img-logo">
                        <NavLink href="@RouteConstants.Home" Match="NavLinkMatch.All">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                        </NavLink>
                        <div class="back-home">
                            <NavLink href="@RouteConstants.Home" Match="NavLinkMatch.All">Quay về trang chủ</NavLink>
                        </div>
                    </div>
                    <h1>Xác thực đổi mật khẩu</h1>
                    <EditForm FormName="frmConfirmPassword"
                              Enhance="true"
                              Model="ConfirmPasswordDto"
                              OnValidSubmit="OnConfirmPasswordSubmit">
                        <FluentValidationValidator Validator="new ConfirmPasswordDtoValidator(Localizer)" />

                        <div class="input-block">
                            <label class="form-control-label">Email</label>
                            <InputText @bind-Value="ConfirmPasswordDto.Email" class="form-control" disabled/>
                        </div>

                        <div class="input-block">
                            <label class="form-control-label">Mật khẩu</label>
                            <InputText type="password" @bind-Value="ConfirmPasswordDto.Password" class="form-control" placeholder="Mật khẩu mới"/>
                            <ValidationMessage For="() => ConfirmPasswordDto.Password" class="text-danger"/>
                        </div>
                        <div class="input-block">
                            <label class="form-control-label">Mật khẩu xác nhận</label>
                            <div class="pass-group">
                                <InputText type="password" class="form-control pass-input" placeholder="Xác nhận mật khẩu mới" @bind-Value="ConfirmPasswordDto.ConfirmPassword"/>

                                <span class="feather-eye toggle-password"></span>
                            </div>
                            <ValidationMessage For="() => ConfirmPasswordDto.ConfirmPassword" class="text-danger"/>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-start" type="submit">Xác nhận</button>
                        </div>

                    </EditForm>
                </div>
            </div>
            <div class="google-bg text-center">

                <span>
                    <a href="#">Hoặc đăng nhập bằng</a>
                </span>

                <ExternalProvider></ExternalProvider>

                <p class="mb-0">Người mới? <a href="@RouteConstants.Register">Tạo tài khoản</a></p>

            </div>
        </div>
    </div>
    <!-- /Login -->
}