@using EzioLearning.Core.Dtos.Validators.Auth
@using EzioLearning.Wasm.Components.Auth
@attribute [Route(RouteConstants.ForgotPassword)]
@layout EmptyLayout

<div class="row">
    <LoginSlide></LoginSlide>


    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="img-logo">
                    <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                    <div class="back-home">
                        <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Home">
                            Về trang chủ
                        </NavLink>
                    </div>
                </div>
                <h1>Quên mật khẩu?</h1>
                <div class="reset-password">
                    <p>Nhập email để nhận link reset mật khẩu.</p>
                </div>
                <EditForm Enhance="true" Model="ForgotPasswordDto" FormName="frmForgotPassword" OnValidSubmit="SubmitForgotPasswordForm">
                    <FluentValidationValidator Validator="new ForgotPasswordDtoValidator()" />
                    <div class="input-block">
                        <label class="form-control-label">Email</label>
                        <InputText @bind-Value="ForgotPasswordDto.Email" type="email" class="form-control" placeholder="Email của bạn" />
                        <ValidationMessage For="() => ForgotPasswordDto.Email" class="text-danger" />
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-start" type="submit" disabled="@DisableSubmitButton">Xác nhận</button>
                    </div>
                </EditForm>
            </div>
        </div>
        <!-- /Login -->

    </div>
</div>