@using EzioLearning.Wasm.Components.Auth
@using EzioLearning.Share.Validators.Auth
@using EzioLearning.Wasm.Utils.Common
@attribute [Route(RouteConstants.Login)]
@* @inject IStringLocalizer<LoginRequestDtoValidator> Localizer
 *@
@layout EmptyLayout
<div class="row">

    <LoginSlide></LoginSlide>

    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="w-100">
                    <div class="img-logo">
                        <NavLink href="@RouteConstants.Home" Match="NavLinkMatch.All">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                        </NavLink>
                        <div class="back-home">
                            <NavLink href="@RouteConstants.Home" Match="NavLinkMatch.All">Quay về trang chủ</NavLink>
                        </div>
                    </div>
                    <h1>Đăng nhập bằng tài khoản của bạn</h1>
                    <EditForm FormName="frmLogin"
                              Enhance="true"
                              Model="LoginRequest"
                              OnValidSubmit="LoginSubmit">
                        <FluentValidationValidator/>
                        <div class="input-block">
                            <label class="form-control-label">Tài khoản</label>
                            <InputText @bind-Value="LoginRequest.UserName" class="form-control" placeholder="Tên đăng nhập của bạn"></InputText>

                            <ValidationMessage For="() => LoginRequest.UserName" class="text-danger"></ValidationMessage>
                        </div>
                        <div class="input-block">

                            <label class="form-control-label">Mật khẩu</label>
                            <div class="pass-group">
                                <InputText type="password" class="form-control pass-input" placeholder="Mật khẩu của bạn" @bind-Value="LoginRequest.Password"></InputText>

                                <span class="feather-eye toggle-password"></span>
                            </div>
                            <ValidationMessage For="() => LoginRequest.Password" class="text-danger"></ValidationMessage>

                        </div>

                        <ForgotPasswordLink/>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-start" type="submit">Đăng nhập</button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="google-bg text-center">

                <span>Hoặc đăng nhập bằng</span>
                <ExternalProvider></ExternalProvider>

                <p class="mb-0">Người mới? <a href="@RouteConstants.Register">Tạo tài khoản</a></p>
            </div>
        </div>
        <!-- /Login -->

    </div>

</div>