<div class="error-box">
    <div class="error-logo">
        <a href="index.html">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        </a>
    </div>
    <div class="error-box-img">
        <img src="assets/img/error-01.png" alt="" class="img-fluid" >
    </div>
    <h3 class="h2 mb-3">Ôi không!!!</h3>
    <p class="h4 font-weight-normal">Trang mà bạn yêu cầu không tồn tại rồi!</p>
    <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Home" class="btn btn-primary">Về trang chủ</NavLink>
</div>