@using EzioLearning.Share.Validators.Account        
@inherits AccountComponentBase
<div class="checkout-form personal-address border-line">
    <div class="personal-info-head">
        <h4>Địa chỉ email</h4>
        <p>Email hiện tại của bạn: @AccountInfoMinimal.Email</p>
    </div>
    <EditForm Enhance="true" FormName="frmUpdateEmail" Model="AccountInfoChangeEmail" OnValidSubmit="OnSubmitChangeEmail">
        <FluentValidationValidator Validator="new ChangeEmailDtoValidator() " />
        <div class="new-address">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-block">
                        <label class="form-label">Địa chỉ email mới</label>
                        <InputText @bind-Value="AccountInfoChangeEmail.NewEmail" type="text" class="form-control" placeholder="Enter your New email address" />
                        <ValidationMessage For="() => AccountInfoChangeEmail.NewEmail" class="text-danger" />
                    </div>
                </div>

                <div class="profile-share d-flex ">
                    <MudButton Class="btn btn-success" Disabled="@DisabledButton" ButtonType="ButtonType.Submit" >
                        @if (DisabledButton)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                        <Text>
                            @(new MarkupString(@"\t Đang xử lý...")) 
                        </Text>
                        }
                        else
                        {
                            <Text>Cập nhật</text>
                        }
                    </MudButton>
                </div>
            </div>
        </div>
    </EditForm>
</div>
