<div class="sign-google">
    <ul>
        <li>
            <a href="@GoogleCallbackUrl">
                <img src="assets/img/net-icon-01.png" class="img-fluid" alt="Logo">
                Google
            </a>
        </li>

        <li>

            <a href="@FacebookCallbackUrl">
                <img src="assets/img/net-icon-02.png" class="img-fluid" alt="Logo">
                Facebook
            </a>
        </li>
    </ul>
</div>