@using EzioLearning.Wasm.Utils.Common

@inject IStringLocalizer<ForgotPasswordLink> Localizer
<div class="forgot">
    <span>
        <NavLink Match="NavLinkMatch.All" class="forgot-link" href="@RouteConstants.ForgotPassword">@Localizer.GetString("ForgotPassword")</NavLink>
    </span>
</div>