@using EzioLearning.Wasm.Utils.Common
<div class="forgot">
    <span>
        <NavLink Match="NavLinkMatch.All" class="forgot-link" href="@RouteConstants.ForgotPassword">Quên mật khẩu ?</NavLink>
    </span>
</div>