@using EzioLearning.Wasm.Components.Account
@inherits LayoutComponentBase
@layout AuthorizeLayout
<!--Dashboard -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <AccountSidebar />
            <div class="col-xl-9 col-md-8">
                @Body
            </div>
        </div>
    </div>
</div>
<!-- /Dashboard -->