@using EzioLearning.Wasm.Components.Layout
@using MudBlazor
@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div id="main-wrapper">

    <!-- Header -->
    <Header></Header>
    <!-- /Header -->
    @Body

    <!-- Footer -->
    <Footer></Footer>
    <!-- /Footer -->

</div>
<Toasts class="p-3" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopRight" />
