@using EzioLearning.Wasm.Components.Layout
@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   DisableBackdropClick="true" />
<MudSnackbarProvider />


<div class="main-wrapper">
    <!-- Header -->
    <Header></Header>
    <!-- /Header -->
    @Body

    <!-- Footer -->
    <Footer></Footer>
    <!-- /Footer -->

</div>