@using EzioLearning.Wasm.Components.Layout
@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   DisableBackdropClick="true" />
<MudSnackbarProvider />


<div class="main-wrapper">
    <!-- Header -->
    <Header></Header>
    <!-- /Header -->
    @Body
    
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
    <!-- Footer -->
    <Footer></Footer>
    <!-- /Footer -->

</div>