@using EzioLearning.Wasm.Components.Account
@using EzioLearning.Wasm.Utils.Common
@attribute [Route(RouteConstants.Account.Security)]
@layout AccountLayout
@inherits EzioLearning.Wasm.Components.Account.AccountComponentBase
<!-- Student Security -->
<div class="settings-widget profile-details">
    <div class="settings-menu p-0">
        <div class="profile-heading">
            <h3>@Localizer.GetString("Title")</h3>
            <p>@Localizer.GetString("Description")</p>
        </div>
        
        <AccountChangeEmail />
       
        <AccountChangePassword/>
    </div>
</div>
<!-- Student Security -->