<div class="feature-box text-center ">
    <div class="feature-bg">
        <div class="feature-header">
            <div class="feature-icon">
                <img src="@TopCourseCategory.Image" alt="">
            </div>
            <div class="feature-cont">
                <div class="feature-text">@TopCourseCategory.Name</div>
            </div>
        </div>
        <p>40 Instructors</p>
    </div>
</div>