<section class="section lead-companies">
    <div class="container">
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class='section-header'>
            <div class="section-sub-head feature-head text-center">
                <span>Trusted By</span>
                <h2>500+ Leading Universities And Companies</h2>
            </div>
        </Animate>
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class='lead-group'>
            <div class="lead-group-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-01.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-02.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-03.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-04.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-05.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="" src="assets/img/lead-06.png">
                    </div>
                </div>
            </div>
        </Animate>

    </div>
</section>