<section class="section user-love">
    <div class="container">
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section-header white-header">
            <div class="section-sub-head feature-head text-center">
                <span>Check out these real reviews</span>
                <h2>Users-love-us Don't take it from us.</h2>
            </div>
        </Animate>
    </div>
</section>